In [190]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [191]:
titanic_data = pd.read_csv('titanic.csv')

In [192]:
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [193]:
titanic_data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
PassengerId,891.0,446.000000,257.353842,1.00,223.5000,446.0000,668.5,891.0000
Survived,891.0,0.383838,0.486592,0.00,0.0000,0.0000,1.0,1.0000
Pclass,891.0,2.308642,0.836071,1.00,2.0000,3.0000,3.0,3.0000
Age,714.0,29.699118,14.526497,0.42,20.1250,28.0000,38.0,80.0000
SibSp,891.0,0.523008,1.102743,0.00,0.0000,0.0000,1.0,8.0000
Parch,891.0,0.381594,0.806057,0.00,0.0000,0.0000,0.0,6.0000
Fare,891.0,32.204208,49.693429,0.00,7.9104,14.4542,31.0,512.3292

In [194]:
titanic_data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [195]:
titanic_data['Age'] = titanic_data['Age'].fillna(titanic_data['Age'].median())
titanic_data['Cabin'] = titanic_data['Cabin'].fillna(titanic_data['Cabin'].mode()[0])
titanic_data['Embarked'] = titanic_data['Embarked'].fillna(titanic_data['Embarked'].mode()[0])

In [196]:
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,B96 B98,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,B96 B98,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,B96 B98,S

In [197]:
data = pd.get_dummies(titanic_data,columns = ['Sex','Cabin','Embarked'],drop_first = True)

In [198]:
data = data.drop(columns = ['Name','Ticket'])

In [199]:
x = data
y = data.pop('Survived')

In [200]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [201]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.30,random_state = 100)

In [202]:
model = RandomForestClassifier(criterion = 'entropy',random_state = 100)

In [203]:
model.fit(x_train,y_train)

RandomForestClassifier(criterion='entropy', random_state=100)

In [204]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score

In [205]:
y_pred = model.predict(x_test)

In [206]:
score = accuracy_score(y_pred,y_test)
f1_score = f1_score(y_pred,y_test)

In [207]:
score

0.8208955223880597

In [210]:
f1_score

0.7575757575757576

In [211]:
from sklearn.model_selection import GridSearchCV

In [220]:
parameters = {'n_estimators':range(10,200,20),'criterion':['gine','entropy'],'max_depth':range(10,100,10),'random_state':range(1,100,10)}

In [221]:
grid_search = GridSearchCV(estimator = model,param_grid = parameters,scoring = 'accuracy',cv = 10,n_jobs = -1)

In [222]:
grid_search = grid_search.fit(x_train,y_train)

In [226]:
best_score = grid_search.best_score_
best_parameters = grid_search.best_params_

In [227]:
best_score

0.8331285202252945

In [228]:
best_parameters

{'criterion': 'entropy',
 'max_depth': 10,
 'n_estimators': 170,
 'random_state': 71}